@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);
body{
	font-family:"Lato",serif;
	color: #1E212C;
	font-style: normal;
}
[class*="__container"]{
	/*use em - 1260px(+30px padding on side)/16*/
	max-width: 78.75em;
	padding: 0 30px;
	margin: 0 auto;
}
/*adaptiv with using em*/
@media(max-width:74.99em){
	[class*="__container"]{
		max-width: 60.625em;
	}
}
@media(max-width:61.93em){
	[class*="__container"]{
		max-width: 46.875em;
	}
}
@media(max-width:47.99em){
	[class*="__container"]{
		max-width: none;
	}
}
/*----------------------------------*/
.header__container{
	display: flex;
	align-items: center;
	gap: 60px;
	min-height: 120px;
	margin-bottom: 80px;
}
.header__logo:hover::after{
	filter: drop-shadow(2px 2px 2px black);
	transform: scale(1.2);
}
.header__logo{
	position: relative;
	z-index: 5;
}
@media(max-width:47.99em){
	.header__logo::after{
		display: none;
	}
}
.header__logo::after{
	content: "";
	background: url(../img/logoX.svg) center no-repeat;
	position: absolute;
	width: 22px;
	height: 20px;
	margin-left:3px;
}
.header__menu{
	flex: 1 1 auto;
}
.menu__list{
	display: flex;
	flex-wrap: wrap;
	column-gap:40px;
	row-gap: 10px;
}
@media(max-width:61.93em){
	.menu__list{
		column-gap:20px;
	}
	.header__container{
		gap: 20px;
	}
	.button__color{
		padding: 0 2em;
	}
}
.menu__link:hover{
	color: #FF3F3A;
}
.header__button{
	display:flex;
	align-items: center;
	gap: 30px;
}
/*@media(max-width:61.93em){
	.header__button{
		flex-direction: column;
		column-gap: 5px;
	}
}
*/

.button__color{
	font-weight: 700;
	font-size: 1rem;
	line-height: 3.25;
	white-space: nowrap;
	color: white;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
	padding: 0 2.75em;
	flex-shrink: 0;
}
.button__color:hover{
	color: #FF3F3A;
	outline: 2px solid #FF3F3A;
	background: transparent;
}
.button__action{
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.6;
	position: relative;
	flex-shrink: 0;
}
.button__action::before{
	content: "";
	background: url(../img/icon/person.svg) center no-repeat;
	position: absolute;
	width: 18px;
	height: 18px;
	top:2px;
	margin-left: -24px;
}
.button__action:hover{
	text-decoration: underline;
	cursor: grab;
}
.button__action:hover::before{
	transform: scale(1.2);
}
@media(max-width:61.93em){
	.menu__body{
		position: fixed;
		top: 0;
		left:-100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #66B0F0;
		padding:80px 15px 30px 15px; 
		transition: left 0.3s ease 0s;
	}
	.header:target .menu__body {
		left:0;
	}
	.header:target .menu__body::before{
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		height: 50px;
		width: 100%;
		background-color:#66B0F0 ;
	}
	.menu__link{
		color: black;
		font-size: 1.25rem;
		font-weight: 700;
	}
	.menu__item{
		margin-bottom: 25px;
	}
	.menu__item:last-child{
		margin-bottom: 0px;
	}
	.menu__list{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
/*burger menu*/
.close-icon-menu,
.icon-menu{
	display: none;
}
@media(max-width:61.93em){
	.icon-menu{
	position: relative;
	flex:  0 0 30px;
	height: 18px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.icon-menu::before,
.icon-menu::after{
	content: "";
	background-color: black;
	height: 2px;
}
.icon-menu span{
	height: 2px;
	background-color: black;
}
.close-icon-menu{
	position: relative;
	flex: 0 0 30px;
	height: 30px;
}

.close-icon-menu::before,
.close-icon-menu::after{
	content: "";
	background-color: black;
	height: 2px;
	top: 50%;
	left:0;
	position: absolute;
	width: 100%;
	border-radius: 1px;
}
.close-icon-menu::before{
	transform: rotate(45deg);
}
.close-icon-menu::after{
	transform: rotate(-45deg);
}
.header:target .icon-menu{
	display: none;
}
.header:target .close-icon-menu{
	display: flex;
}
}
/*---------------------------------------*/
.footer{
	background: #F4F5F7;
}
.footer__container{
	display: flex;
	gap: 160px;
	align-items: center;
}
@media(max-width:74.99em){
	.footer__container{
		gap: 90px;
	}
}
@media(max-width:61.93em){
	.footer__container{
		flex-direction: column-reverse;
		gap: 40px;
	}
}
.footer__img{
	flex:0 1 44%;
}
.footer__subscribe{
	flex:0 1 56%;
}
.footer__img img{
	max-width: 107.3%;
}
/*checkbox*/
.subscribe__check{
	display: flex;
	align-items: center;
	gap: 10px;
}
input[type="checkbox"] {
	position: relative;
	width: 40px;
	height: 20px;
	appearance: none;
	background: dimgray;
	outline: none;
	border-radius: 10px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
}
input:checked[type="checkbox"] {
	background: #FF3F3A;
}
input[type="checkbox"]::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	top: 0;
	left: 0;
	background: #fff;
	transition: 0.5s;
	transform: scale(1.1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
input:checked[type="checkbox"]::before {
	left: 20px;
}

.subscribe__title{
	font-weight: 900;
	font-size: 2rem;
	line-height: 1.3;
	margin-bottom: 48px;
}
@media(max-width:74.99em){
	.subscribe__title{
		font-size: 1.5rem;
		margin-bottom: 28px;
	}
}
@media(max-width:61.93em){
	.subscribe__title{
		font-size: 1rem;
	}
}
.subscribe__form{
	display: flex;
	gap: 24px;
	margin-bottom: 24px;
}
.subscribe__form input{
	width: 100%;
	padding-left: 1em;
	border: 1px solid #D7DADD;
	border-radius: 4px;
}
/*@media(max-width:74.99em){
	
}
@media(max-width:61.93em){
	
}
@media(max-width:47.99em){
	
}*/
/*-------------------------------------------------*/
.page__container{
	display: grid;
	grid-template-columns: 1fr 0.42fr;
	gap: 78px;
	margin-bottom: 120px;
}
@media(max-width:74.99em){
	.page__container{
		gap: 38px;
	}
}
@media(max-width:61.93em){
	.page__container{
		grid-template-columns: 0.8fr 0.3fr;
	}
}
@media(max-width:47.99em){
	.page__container{
		grid-template-columns: 0.6fr 0.3fr;
	}
}


/*---------------------------------------------------*/
.content__head{
	margin-bottom: 40px;
}
.head-content__title{
	font-weight: 900;
	font-size: 2.875rem;
	line-height: 1.3;
	margin-bottom: 26px;
}
@media(max-width:61.93em){
	.head-content__title{
		font-size: 2rem;
	}
}
@media(max-width:47.99em){
	.head-content__title{
		font-size: 1.6rem;
	}
}
.head-content__text{
	color: #424551;
	line-height: 1.6;
	position: relative;
	padding-left: 24px;
	margin-bottom: 12px;
}
.head-content__text::before{
	content: "";
	background: url(../img/icon/article.svg) center no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	margin-left: -24px;
	top:4px;
}
.head-content__text span{
	color: #FF3F3A;
	font-weight: 700;
	display: inline-block;
	margin-left: 12px;
	position: relative;
}
.head-content__text span::before{
	content: "|";
	color: #424551;
	position: absolute;
	margin-left: -8px;
}
.head-content__subtitle{
	display: flex;
	justify-content: space-between;
}
.subtitle__share{
	display: flex;
	align-items: center;
	gap:12px;
}
.subtitle__text{
	color: #787A80;
	line-height: 1.6;
	position: relative;
	padding-left: 24px;
}
.subtitle__text::before{
	content: "";
	background: url(../img/icon/calendar.svg) center no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	margin-left: -24px;
	top:4px;
}
.subtitle__text span{
	display: inline-block;
	margin-left:42px;
	position: relative;
}
.subtitle__text span::before{
	content: "";
	background: url(../img/icon/clock.svg) center no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	margin-left: -20px;
	top:4px;
}
.share__text{
	font-weight: 700;
	line-height: 1.6;
}
.share__link{
	opacity: 0.7;
}
.share__link:hover{
	opacity: 1;
	transform: scale(1.5);
}
/*--------------------------------------*/
.content-body__img img{
	max-width: 100%;
}
.content-body__img{
	margin-bottom: 60px;
}
.content-body__title{
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.5;
	margin-bottom: 24px;
}
.content-body__text:not(:last-child){
	margin-bottom: 40px;
}
.content-body__text:last-child{
	margin-bottom: 60px;
}
.content-body__blockquote{
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.5;
	position: relative;
	padding-left: 58px;
	margin-bottom: 48px;
}
@media(max-width:47.99em){
	.content-body__blockquote{
		font-size: 1rem;;
	}
}
.content-body__blockquote::before{
	content: "";
	background: url(../img/icon/block.svg) center no-repeat;
	position: absolute;
	width: 20px;
	height: 20px;
	margin-left: -58px;
}
.content-body__blockquote::after{
	content: "";
	background: url(../img/icon/block.svg) center no-repeat;
	position: absolute;
	width: 20px;
	height: 20px;
	margin-left: -58px;
	top:0;
	left: 74px;
}
.content-body__item{
	padding-left: 32px;
	position: relative;
	line-height: 1.6;
}
.content-body__item:not(:last-child){
	margin-bottom: 4px;
}
.content-body__item::before{
	content: "";
	background: url(../img/icon/check.svg) center no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	top:4px;
	margin-left: -32px;
}
.content-body__item:last-child{
	margin-bottom: 24px;
}
.content-body__down{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media(max-width:61.93em){
	.content-body__down{
		flex-wrap: wrap;
	}
}
.down__tags{
	display: flex;
	align-items: center;
	gap:12px;
}
.tags__link{
	border: 1px solid #D7DADD;
	border-radius: 4px;
	font-weight: 700;
	font-size:0.875rem;
	line-height: 1.5;
	color: #787A80;
	padding: 5px 16px;
}
.tags__text{
	font-weight: 700;
	line-height: 1.6;
	color: #1E212C;
}
.down__share{
	display: flex;
	align-items: center;
	gap:12px;
}

/*-----------------------------------------*/
.blog__input{
	width: 100%;
	padding:12px 16px;
	background: #FFFFFF;
	border: 1px solid #D7DADD;
	border-radius: 4px;
}
.blog__form{
	margin-bottom: 60px;
}
.author__article,
.trending__title{
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #1E212C;
	margin-bottom: 24px;
}
.author__card{
	margin-bottom: 44px;
}
.card__text{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.text-card__link:not(:last-child){
	margin-right: 12px;
}
.text-card__link img:hover{
	transform: scale(1.5);
}
.text-card__title{
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.5;
	color: #424551;
}
.text-card__job{
	font-size: 0.875rem;
	line-height: 1.5;
	color: #787A80;
}
.author__card,
.card-trending__column{
	display: grid;
	gap: 20px;
	grid-template-columns: 0.29fr 1fr;
}
.trending__card{
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.card-trending__text{
	display: flex;
	flex-direction: column;
}
.card-trending__when{
	font-size: 0.875rem;
	line-height: 1.5;
	color: #787A80;
	position: relative;
	padding-left: 24px;
}
.card-trending__when::before{
	content: "";
	background: url(../img/icon/calendar.svg) center no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	margin-left: -24px;
}
.card-trending__what{
	font-weight: 700;
	line-height: 1.6;
	color: #1E212C;
}
.card-trending__what:hover{
	color: red;
}
.blog__trending{
	margin-bottom: 60px;
}
.blog__tags>p{
	margin-bottom: 31px;
}
.tags__grid{
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}
.tags__link:hover{
	background-color: #FF3F3A;
	color: white;
}